.tabs-container {
    margin-top: 50px;
  }
  
  .tabs-header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    background-color: #CC2030;
    border-radius: 8px;
  }
  
  .tab {
    padding: 15px 30px;
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tab:hover {
    background-color: #CC2030;
  }
  
  .tab.active {
    background-color: white;
    color: #CC2030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #f9f9f9;
  }

.tab-content {
  max-height: 1250px; /* or set a fixed height like 400px if needed */
  overflow-y: auto;
  overflow-x: hidden;
}

  @media screen and (max-width: 768px) {
    
  }
  
